<div class="d-flex flex-column min-vh-100">
    <app-navbar></app-navbar>

    <main class="container-fluid flex-grow-1 px-3 px-sm-5 pb-4">
        <div class="row">
            <div class="col text-center py-4">
                <h1>Acerca de nosotros</h1>
            </div>
        </div>
        <div>
            <img src="profile-pic5.png" class="img-fluid rounded object-fit-cover float-sm-start px-0 pe-md-5" style="shape-outside: circle(50%); width: 20rem;" alt="...">

            <h3 class="card-title fw-bold py-2 pt-sm-0" style="color: #779a47; text-wrap: pretty;">Juan Camilo Román Coral</h3>
            <p class="card-text" style="text-wrap: pretty;">Ingeniero de sistemas con un gran interés en la tecnología y programación de apps. Desarrollador de software con dos años de experiencia en tecnologías como: JavaScript, python, java, node, angular, express, electron, aws, c, c++, php, laravel, apache, nginx, smarty template, git, etc. Dando solución a diferentes problemas e implementando componentes personalizados para el diseño amigable con el usuario, tengo gran capacidad para adaptarme a todo tipo de entornos y aportar siempre lo mejor de mí. Me caracterizo por mi facilidad para el trabajo en equipo y mi entusiasmo por aprender y desarrollar mis habilidades. En busca de una oportunidad laboral en la que adquirir más experiencia.</p>
            <!-- <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p> -->
        </div>
    </main>
</div>