<app-table
  title="Planta"
  [dataService]="ps"
  [relatedServices]="[
    { key: 'experts', service: es },
    { key: 'category_id', service: cs }
  ]"
  [fields]="plantFields" 
  folderImage="plants"
  primaryKey="common_name">
</app-table>

<!-- <app-table
  [data]="plants"
  [fields]="plantFields"
  [total]="total"
  [offset]="offset"
  [limit]="limit"
  [currentPage]="currentPage"
  [lastPage]="lastPage"
  (pageChange)="loadPlants($event)"
  (addAction)="addPlant()"
  (viewAction)="viewPlant($event)"
  (editAction)="editPlant($event)"
  (deleteAction)="deletePlant($event)">
</app-table>

<app-modal 
    title="planta"
    url="plants"
    [modalMode]="modalMode"
    [model]="plant"
    [fields]="plantFields"
    [relatedItems]="[experts, categories]"
    primaryKey="common_name"
    (saveChanges)="saveChanges($event)"
    (deleteItem)="confirmDelete()"
    (closeModal)="closeModal()">
</app-modal> -->