<div class="d-flex flex-column min-vh-100">
    <app-navbar></app-navbar>
    
    <main class="overflow-hidden px-lg-5 background flex-grow-1 d-flex align-items-center">
        <div class="col-md-6 p-md-5 p-3 text-light">
            <h3 class="fw-bold">Salahonda</h3>
            <h1 class="display-3 fw-bold lh-1" style="color: var(--color-tertiary)">Medicina tradicional</h1>
            <h3 class="fw-light fs-5 mb-3">
                Rescatando el conocimiento ancestral para educar y sanar a futuras generaciones.
            </h3>
            <div class="d-flex">
                <a class="more text-decoration-none px-4 d-flex justify-content-center align-items-center" routerLink="/plants">
                    Conocer más <i class="bi bi-arrow-right-short"></i>
                </a>
            </div>
        </div>
    </main>
    <script src="app.js"></script>
</div>