@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@300..700&display=swap');
        
*{
    font-family: "Space Grotesk", sans-serif;
    --color-tertiary: #ffbf00;
    --card-height: 250px;
    --card-width: calc(var(--card-height) / 1.5)
}

main {
    /* background-color: #283618; */
    /* background-color: rgba(49, 29, 1, 0.736); */
    background-color: #e2ffd1;
}

.header {
    display: none;
}

.nav-custom, header {
    display: none !important;
}

header {
    background-color: #1b8b15;
    min-height: 100vh;
}

:has(.nav-custom:checked) header{
    display: inline-flex !important;
}

@media (min-width: 1112px) {
    header {
        background-color: transparent;
        min-height: 100%;
    }
    .menu {
        position: absolute;
        top: 3rem;
        left: 50%;
        width: 95%;
        transform: translateX( -50%);
        border-radius: 15px;
        overflow: hidden;
    }

    .menu::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 150%;
        height: 150%;
        background-color: #1b8b158d;
        backdrop-filter: blur(.5rem);
        z-index: -1;
    }
}



.background {
    background-image: url('https://t4.ftcdn.net/jpg/03/53/75/59/360_F_353755945_3nDSLnu0YuKkZC0U5yFNTZ3CRDLz1CJu.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    box-shadow: inset 50vw 0 8rem rgb(49, 29, 1, .89);
    text-shadow: 0 .1rem .5rem rgba(0, 0, 0, 0.41);
}

.nav-link{
    border: transparent dashed 2px;
    border-radius: 0.375rem;
}
.nav-link:hover{
    background-color: #067c005f !important;
    border: #067c00 dashed 2px;
    /* border-top: 0; */
    /* text-decoration: line-through #e39921; */
    /* box-shadow: #e39921 0px 1.5px 1px 0px; */
}
.nav-link.active:hover {
    background-color: #067c00 !important;
}
.more{
    border-radius: 5rem ;
    background-color: #ffc4004a;
    border: var(--color-tertiary) solid 1px;
    color: var(--color-tertiary);
    /* box-shadow: inset #067000 5px 3px 15px 1px; */
}

.active{
    background-color: #067c00 !important;
    border-radius: 0.375rem;
}

/* plantas */

.card-custom {
    width: var(--card-width);
    height: var(--card-height);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 36px;
    perspective: 2500px;
    /* margin: 0 50px; */
    border-radius: 5px;
    cursor: pointer;
    transition: all .5s;
    border: rgba(67, 40, 1, 0.848) dashed 2px;
    overflow: hidden;
}

.cover-image {
    width: 110%;
    object-fit: cover;
    transition: all .5s;
}

.wrapper {
    position: absolute;
    left: 0;
    width: 100%;
    border-radius: 5px;
    /* overflow: hidden; */
   
    z-index: -1;
}

.wrapper::before,
.wrapper::after {
    content: '';
    opacity: 0;
    width: 100%;
    height: 40%;
    transition: all .5s;
    position: absolute;
    left: 0;
}

.wrapper::before {
    top: 0;
    height: 100%;
    /* background-image: linear-gradient(to top, transparent 4%, rgb(12, 13, 19, .5) 68%, rgb(12, 13, 19) 97%); */
}

.wrapper::after {
    bottom: 0;
    opacity: 1;
    background-image: linear-gradient(to bottom, transparent 46%, rgb(49, 29, 1, .5) 68%, rgb(49, 29, 1) 97%);
}

.title {
    position: absolute;
    top: 80%;
    color: #fff;
    transition: top .5s;
}

.character {
    position: absolute;
    color: #fff;
    opacity: 0;
    transition: all .5s;
    text-wrap: pretty;
    /* filter: drop-shadow(0 0 1rem rgb(0, 0, 0)); */
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card-custom:hover {
    transform: perspective(900px) translateY(-5%) rotateX(15deg) translateZ(0);
    box-shadow: 0px 35px 32px -8px rgb(49, 29, 1, .75);
}

.card-custom:hover .title {
    opacity: 0;
    /* top: 0; */
    /* transform: translate3d(0%, 0%, 100px) translateZ(0); */
}

.card-custom:hover .cover-image {
    filter: blur(2px);
}

.card-custom:hover .wrapper::after,
.wrapper::before {
    opacity: 1;
}

.card-custom:hover .wrapper::after {
    height: 100%;
    background-image: linear-gradient(to bottom, transparent, rgb(49, 29, 1, .5) 18%, rgb(49, 29, 1) 97%);
}

.card-custom:hover .wrapper::before {
    opacity: 1;
}

.card-custom:hover .character {
    opacity: 1;
    /* bottom: 0; */
    margin: 1rem;
    /* transform: translate3d(0%, 0%, -100px); */
}

/* category */

.container-category {
    padding-left: 3rem;
    padding-right: 2rem;
}

.category {
    position: sticky;
    top: 1rem;
    width: 100%;
    height: fit-content;
    /* margin: 0 3rem; */
    background-color: #9fc26f;
    border-radius: 0.375rem;
}

.form-control{
    border: 1px solid transparent;
}

.form-control:focus {
    box-shadow: transparent 0px 0px 0px;
    border: 1px solid transparent;
}


.form-check-input {
    border-radius: 87% 13% 48% 52% / 68% 0% 100% 32%  !important;
}

.form-check-input:active {
    background-color: #4d81034f !important;
}

.form-check-input:checked {
    background-color: #4d8103 !important;
    border: #4d8103 !important;
}

/* .form-check-input:checked + .form-check-label {
    text-decoration: line-through;
  } */
  
/* .form-check-label .form-check-input:checked .form-check-label{
    text-decoration: #4d8103 line-through;
} */

.form-check-label:has(.form-check-input:checked) {
    text-decoration: #4d8103 line-through;
}
  

.form-check-input:focus {
    box-shadow: transparent 0px 0px 0px;
    border: #4d8103 !important;
}